<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <script type="text/javascript">
    function safeApply($scope, fn) {
      var phase = $scope.$root.$$phase;

      if (phase == '$apply' || phase == '$digest') {
        if (fn && (typeof (fn) === 'function')) {
          fn();
        }
      }
      else {
        $scope.$apply(fn);
      }
    };

    var data = ["džezva", "đak", "čudesno", "ćuk"];

    function getOne() {
      var index = Math.floor(Math.random() * data.length);
      return data[index];
    }

    function get10() {
      var res = [];

      while (res.length < 4) {
        var item = getOne();
        if (!res.includes(item)) res.push(item);
      }

      return res;
    }

    function removeLetters(word) {
      return word.replace(/č|ć|dž|đ/gi, "_");
    }

    var app = angular.module("hrvatski", []);

    app.controller("cdController", ["$scope", function ($scope) {
      $scope.datas = [];

      $scope.setNewData = function () {
        var fn = function () {
          var words = get10();
          var newDatas = [];

          words.forEach(word => {
            newDatas.push({ original: word, replaced: removeLetters(word), color: 'white' });
          });

          $scope.datas = newDatas;
        };

        safeApply($scope, fn);
      }

      $scope.setNewData();

      $scope.validate = function () {
        var data;
        var result;
        var isValid = false;

        for (var i = 0; i < $scope.datas.length; i++) {
          data = $scope.datas[i];
          isValid = data.original === data.result;

          if (isValid) {
            data.color = 'white';
          } else {
            data.color = 'red';
          }
        }
      }
    }]);
  </script>
</head>
<body>
</body>
<div ng-app="hrvatski">
  <div ng-controller="cdController">
    <div ng-repeat="data in datas">
      <input ng-model="data.replaced" readonly />
      <span>=</span>
      <input ng-model="data.result" ng-style="{'background-color':data.color}" />
    </div>

    <input type="button" value="provjeri" ng-click="validate()" </div> <input type="button" value="ponovno"
      ng-click="setNewData()" </div> </div> </html>